<footer>
      <div>
        <nav class="ph3">
          <ul class="list pl0 flex">
            <li class="mr3">
              <a href="/process.html">What alpha, beta and live mean</a>
            </li>
            <li class="mr3">
              <a href="/supported-devices.html">Supported devices</a>
            </li>
            <li>
              <a href="/archive.html">Archived versions</a>
            </li>
            <li>
              <a href="/updates.html">Updates</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
